.button {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 0.1rem;
    top: 16rem;
}
.button:hover {
    background-color: #444;
    color: blue;
}