p a {
    text-decoration: none;
}

footer {
    color:black;
    padding: 12px 12px 12px 12px;
    margin: 3px;
    border-radius: 3px;
}

a:hover{
    color:gray;
}

.social-icons {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    padding: 2px 2px 2px 2px;
}

.social-icons:hover {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(228, 221, 221);
    /* border: 2px solid gray; */
    padding: 2px 2px 2px 2px;
}

.btn-top {
    width: 36px;
    height: 36px;
    float:right;
    border: white solid 1px;
    margin: 0px;
}

.btn-top:hover {
    border: solid 1px rgb(213, 207, 207);
    border-radius: 12px;
}

.site-ssl {
    width: 90px;
    height: 38px;
}
.container-footer{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    min-width: 136px;
 }
 .main-footer {
     font-size: 16px;
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: left;
     width: 100%;
 }

.footer-delivery{
    width: 100%;
}
.footer-payment{
    width: 59%;
    float: right;
}

/* @media screen and (max-width:768px) {} */

.maps {
    width: 100%;
}

.text-footer{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
}