.header-home-carrinho {
    background-color: rgb(234, 225, 225);
    border: solid 1px rgb(248, 244, 244);
    padding: 9px;
    width: 33px;
    height: 32px;
}
.header-home-carrinho:hover{
    background-color: rgb(221, 217, 217);
}

.header-home-sub-total {
    background-color: rgb(234, 225, 225);
    border: solid 1px rgb(248, 244, 244);
    padding: 9px;
    color: rgb(62, 18, 18);
    font-size: 14px;
}
.header-home-sub-total:hover{
    background-color: rgb(221, 217, 217);
}

.header-contact{
    font-size: 16px;
    background-color: azure;
    border: solid 1px rgb(248, 244, 244);
    padding: 12px;
}
.header-contact:hover{
    background-color:rgb(204, 219, 219);
}

@media screen and (max-width:768px) {
    .header-contact{
        font-size: 11px;
    }
}

@media screen and (max-width:768px) {}