.header-home{
    border-radius: 3px 3px 0px 0px;
    background-color:rgba(0, 0, 0, 0.7);
}

.header-home-carrinho {
    color: white;
    padding: 9px;
    width: 33px;
    height: 32px;
}
.header-home-carrinho:hover{
    background-color:none;
}

.header-home-sub-total {
    border: solid 1px rgba(0, 0, 0, 0.455);
    padding: 9px;
    color:white;
    font-size: 14px;
}
.header-home-sub-total:hover{
    background-color:none;
}


.header-contact{
    padding: 6px;
    color: antiquewhite;
}
.header-contact:hover{
    background-color:none;
}

@media screen and (max-width:768px) {
    .header-contact{
        font-size: 12px;
    }
}