.btn-search {
    display: contents;
}

.search-items-img {
    background-color:white;
    border-radius: 12px;
    position: relative;
    left: -4.6rem;
    top: 0.2rem;
    width: 32px;
    height: 32px;
}
.search-items-img:hover{
background-color: aliceblue;
}
.search-items-message{
    font-size: 12px;
    padding-left: 12px;
}

.search-select{
    background-color:rgb(237,237,237);
    position:absolute;
    left: 8rem;
    top:8.5rem;
    width: 68px;
    height: 39px;
    font-size: 12px;
    border-radius: 4px 0px 0px 4px;
    /* border: 0px solid rgb(237, 237, 237); */
    padding: 4px;
    border: none;
}
@media screen and (max-width:768px) {
    .search-select{
        top:9.5rem;
        left:1rem;
    }
}