.btn-search {
    display: contents;
}

.search-items-img {
    background-color:white;
    border-radius: 12px;
    position: relative;
    left: -4.6rem;
    top: 0.2rem;
    width: 32px;
    height: 32px;
}
.search-items-img:hover{
left:-3rem;
top:0.2rem;
}
.search-items-message{
    font-size: 12px;
    padding-left: 12px;
}