.carousel-img-banner{
    border: solid 2px rgb(237,237,237);
    border-radius: 8px;
    width: 100%;
    height: 450px;
}

@media screen and (max-width:768px) {
    .carousel-img-banner{
        width: 100%;
        height: 150px;
    }
}