.header-dashboard{
    display: flex;
    font-size: 12px;
    left: 100%;
    padding: 6px 6px 6px 6px;
    margin: 0px;
}
.header-dashboard-text{
    display: flex;
    font-size: 13px;
    position:relative;
    top: 0rem;
}
.header-dashboard-user{
    display: flex;
    position:relative;
    left: 0.5rem;
    top: 0rem;
}
.header-dashboard-username{
    display:flex;
    position: relative;
    left:1rem;
    top: 0rem;

}
.header-dashboard-btn-handle-logout{
    display:flex;
    position: relative;
    border: none;
    background-color: white;
    left:48rem;
    top: 0rem;
    color:blue;
    font-size: 14px;
}
@media screen and (max-width:768px) {
    .header-dashboard-btn-handle-logout{
        left: 3rem;
    }
}